/* .nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: var(--light);
    padding-top: 10px;
    padding-bottom: 10px;
}

.active {
    color: rgb(167, 162, 160);
    transform: scale(1);
    pointer-events: none;
}

.link:hover,
.link:focus {
    color: rgb(167, 162, 160);
} */