.form {
    width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 80px;
}

.input {
    width: 100%;
    height: 56px;

    border-style: none;
    border-bottom: 1px solid #212121;
    background-color: transparent;

    padding: 16px;
    padding-right: 40px;
    outline: none;

    transition: 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);

    font-size: 18px;
    color: #F3F3F3;
    font-weight: 300;
    letter-spacing: 0.03em;

    &::placeholder {
        font-weight: 200;
    }
}

.button {
    width: 50px;
    height: 50px;

    font-size: 20px;
    font-weight: bold;
    color: #F3F3F3;

    position: absolute;
    top: 0;
    right: 0;
}