.castList {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.text+.text {
    margin-top: 0.5rem;
}

.castItem {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #F3F3F3;
}

.image {
    width: 150px;
    aspect-ratio: 100/150;
    margin-bottom: 0.5rem;
}